.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 2px 2px rgb(228, 223, 223);
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}

.file-upload-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.file-upload-container h2 {
  font-size: 18px;
}

.upload-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed rgb(198, 196, 196);
  border-radius: 5px;
  padding: 20px 10px;
  box-sizing: border-box;
}

.drag {
  border-color: rgb(122, 222, 122);
  background-color: rgb(204, 221, 204);
}
.upload-box span {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.upload-box input {
  display: none;
}

.upload-box label {
  background-color: rgb(63, 188, 63);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.preview-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.image-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f4f4;
  border-radius: 5px;
  margin: 5px 0;
}
.image-preview-container {
  display: flex;
  align-items: center;
}
.image-preview-container img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
  object-fit: cover;
}

.image-detail-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 14px;
  font-weight: 600;
}
.size {
  font-size: 13px;
  font-weight: 500;
}
button {
  background-color: red;
  color: white;
  border-radius: 50%;
  border: none;
  width: 20px;
  height: 20px;
  padding: 5px;
  font-size: 10px;
  cursor: pointer;
}
